body {
    margin: 0;
}

.container {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 350px;
}

.box {
    
}

/*@media screen and (max-width: 680px){
    .container {
        flex-flow: column;
    }
}*/